{% extends 'blog/main.html'%}

{% load static %}

{% block content %}

    <section class="main-container">
        {% if post.image %}
        <div class="hero-image" style=" background-image: url({{post.image.url}})">

        </div>
        {% else %}
        <div class="hero-image" style=" background-image: url('')">

        </div>
        {% endif %}
        <h1 class="blog-title">{{post.title}}</h1>
        <div class="content">
            <div class="aurthor-info">
                {% if post.author.author.profile_pic %}
                <div class="profile-picture" style="background-image: url({{post.author.author.profile_pic.url}});">
                {% else %}
                <div class="profile-picture" style="background-image: url('');"></div>
                {% endif %}
                </div>
                <p>{{post.author.username}}</p>
                <p>{{post.author.email}}</p>
                <p>{{post.date_created}}</p>
            </div>
                <div class="content-text">
                {{post.body|safe}}
            </div>
        </div>

        <div class="comments container" style="width:50%">
            <form action="{% url 'blog:comment' post.id %}" method="POST" >
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="comment" name="comment">
                    <label for="floatingInput">Write Your Comments Here...</label>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Post</button>
            </form>
            {% for comment in comments %}
            <div class="card" style="margin-top:3vh">
                <div class="card-header">
                    {{comment.author}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{comment.comment_text}}</p>
                    <span>{{comment.total_likes}}</span>
                    <a data-commentid={{comment.id}}  style="color: #3f3f3f; font-size: 20px; cursor: pointer;" class="likeBtn"><i class="far fa-thumbs-up"></i></a>

                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}