{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
    <section class="blog-form-container">
        <div class="form-container">
            <form method="POST" action="{% url 'blog:create_post'%}"  enctype='multipart/form-data'>
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <input type="submit" value="Create post" class="btn btn-outline-primary custom-btn">
            </form>
            </div>
            <div class="aurthor-info">
                <div class="profile-picture" style="background-image: url('{{user.author.profile_pic.url}}');">
            </div>
            <p>{{user.username}}</p>
            <p>{{user.email}}</p>
            <p>{{date_created}}</p>
        </div>
    </section>
{% endblock %}