{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
<div class="login-form-container">
    <form method="POST" action="{% url 'blog:register' %}">
        {% csrf_token %}
        <!-- 2 column grid layout with text inputs for the first and last names -->
        {% if messages %}
        {% for message in messages %}
           <div class="alert alert-danger" role="alert">
               {{message}}
            </div>
        {% endfor %}
        {% endif %}
    <!-- Input -->
    {{form.as_p}}
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">Subscribe to our newsletter</label>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-outline-primary btn-block mb-4">Sign up</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>or sign up with:</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>
</form>
</div>
{% endblock%}